<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile="var/.phpunit.result.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
