<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="newsletter_subscriber_save_after">
        <observer name="smaily_smailyformagento_observer_newslettersubscribeobserver"
                  instance="Smaily\SmailyForMagento\Observer\NewsletterSubscribeObserver" />
    </event>
</config>