<?xml version="1.0"?>
<!--
/**
 * Copyright © Smaily. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="newsletter_subscriber_save_after">
        <observer name="smaily_connect_subscriber_save" instance="Smaily\Connect\Observer\SubscriberSaveAfter"/>
    </event>
    <event name="customer_save_after_data_object">
        <observer name="smaily_connect_customer_save" instance="Smaily\Connect\Observer\CustomerSaveAfter"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="smaily_connect_order_placed" instance="Smaily\Connect\Observer\OrderPlaced"/>
        <observer name="smaily_connect_order_origin" instance="Smaily\Connect\Observer\RecordOrderOrigin"/>
    </event>
    <!-- Campaign Intelligence ingest hooks. -->
    <event name="catalog_product_save_after">
        <observer name="smaily_connect_engine_product_save" instance="Smaily\Connect\Observer\Engine\ProductSaveAfter"/>
    </event>
    <event name="cataloginventory_stock_item_save_after">
        <observer name="smaily_connect_engine_stock_item_save" instance="Smaily\Connect\Observer\Engine\StockItemSaveAfter"/>
    </event>
    <event name="catalog_product_delete_before">
        <observer name="smaily_connect_engine_product_delete" instance="Smaily\Connect\Observer\Engine\ProductDeleteBefore"/>
    </event>
    <event name="customer_save_after_data_object">
        <observer name="smaily_connect_engine_customer_save" instance="Smaily\Connect\Observer\Engine\CustomerSaveAfter"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="smaily_connect_engine_order_save" instance="Smaily\Connect\Observer\Engine\OrderSaveAfter"/>
    </event>
    <event name="customer_login">
        <observer name="smaily_connect_engine_identity_merge" instance="Smaily\Connect\Observer\Engine\CustomerLogin"/>
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="smaily_connect_engine_unsubscribe" instance="Smaily\Connect\Observer\Engine\SubscriberUnsubscribed"/>
        <observer name="smaily_connect_engine_resubscribe" instance="Smaily\Connect\Observer\Engine\SubscriberResubscribed"/>
    </event>
</config>
