<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="smaily_smailyformagento" translate="label" sortOrder="500">
            <label>Smaily Email Marketing and Automation</label>
        </tab>
        <section id="smaily" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Module Configuration</label>
            <tab>smaily_smailyformagento</tab>
            <resource>Smaily_SmailyForMagento::access</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="subdomain" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Subdomain</label>
                    <backend_model>Smaily\SmailyForMagento\Model\Config\Backend\Validate</backend_model>
                    <validate>required-entry</validate>
                    <comment>For example "demo" from https://demo.sendsmaily.net/</comment>
                </field>
                 <field id="username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API username</label>
                    <validate>required-entry</validate>    
                </field>
                <field id="password" translate="label" type="password" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API password</label>
                    <validate>required-entry</validate>    
                    <comment><![CDATA[<a href="http://help.smaily.com/en/support/solutions/articles/16000062943-create-api-user" target="_blank">How to create API credentials?</a>]]></comment>
                </field>
            </group>
            <group id="subscribe" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Newsletter subscription form</label>
                <field id="autoresponder_id" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Autoresponder ID (confirmation email)</label>
                    <source_model>Smaily\SmailyForMagento\Model\Config\Source\Autoresponders</source_model>
                    <comment><![CDATA[<a href="http://help.smaily.com/en/support/solutions/articles/16000017234-creating-an-autoresponder" target="_blank">How to set up an autoresponder for confirmation emails?.</a>]]></comment>
                </field>
            </group>
            <group id="sync" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Subscribers Syncronization</label>
                <field id="enableCronSync" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Syncronization</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fields" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Syncronize additional fields</label>
                    <source_model>Smaily\SmailyForMagento\Model\Config\Source\Fields</source_model>
                    <comment>Select fields you wish to synchronize along with subscription data. Subscriber Email and Name fields are automatically synchronized</comment>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Smaily\SmailyForMagento\Model\Config\Source\Frequency</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Time</label>
                </field>
            </group>
            <group id="abandoned" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Abandoned cart</label>
                <field id="enableAbandonedCart" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Abandoned Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ac_ar_id" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Autoresponder ID </label>
                    <source_model>Smaily\SmailyForMagento\Model\Config\Source\Autoresponders</source_model>
                    <comment><![CDATA[<a href="http://help.smaily.com/en/support/solutions/articles/16000017234-creating-an-autoresponder" target="_blank">How to set up an autoresponder for confirmation emails?.</a>]]></comment>
                </field>
                 <field id="sync_time" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Trigger abandoned cart automation</label>
                    <source_model>Smaily\SmailyForMagento\Model\Config\Source\SyncTime</source_model>
                    <comment><![CDATA[<a href="http://help.smaily.com/en/support/solutions/articles/16000017234-creating-an-autoresponder" target="_blank">How to set up an autoresponder for confirmation emails?You can link to the abandoned cart in email template with the parameter abandoned_cart_url</a>]]></comment>
                </field>
                <field id="productfields" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Add parameters to the trigger</label>
                        <source_model>Smaily\SmailyForMagento\Model\Config\Source\ProductFields</source_model>
                    <comment>Select fields you wish to send in autoresponder.You can use those parameters in the template and email subject to personalize abandoned cart reminder emails</comment>
                 </field>
                 <field id="carturl" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cart url</label>
                </field>
            </group>
        </section>
    </system>
</config>
